/nbproject/*
/app/tmp/*
setup.php
/media/*
!/media/.htaccess
!/media/README.md
.DS_Store
.settings
.project
.idea/
*.un~
*.sublime-*
*.swp
.vagrant/
/import/*
/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*
/app/lib/core/Parsers/dompdf/lib/fonts/*fm.php
/app/log/log*.txt
/app/log/*.log
/themes/default/css/local.css
/themes/default/views/bundles/inspector_info.php
/pawtucket/app/tmp/*
/support/dennis_export/log/*
/support/dennis_export/data/*
/support/dennis_import/log/*
/support/export_spreadsheets/log/*
/support/export_spreadsheets/data/accounting/*
/support/export_spreadsheets/data/exdev/*
/support/export_spreadsheets/data/dennis/*
/support/export_spreadsheets/data/restoration_conservation/*

